# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Virtual environment
venv/
ENV/
env/
env.bak/
venv.bak/

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.sqlite3
db.sqlite3
.DS_Store
.DS_Store?
*.swp
*~
.project
.pydevproject
*.sublime-project
*.sublime-workspace
.idea/
.vscode/

# Django migrations
**/migrations/*
!**/migrations/__init__.py

# Static and media files
staticfiles/
media/

# Local environment variables
.env
.env.*

# Test and coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# MyPy
.mypy_cache/

# Pyre type checker
.pyre/

# vscode
.vscode
